:root {
    --orange: #E06733;
    --green: #499A18;
    --background: #EDF2EC;
    --link: #010201;
    --gray: #717171;
    --text: #636060;
}
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html, body, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    margin: 0 auto;
    padding: 0 109px;
    min-height: 100%;
    width: 1440px;
}

/* Header */

header {
    height: 134px;
    width: 100vw;
    background-color: var(--background);
}

header .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__wrapper .logo img {
    width: 20px;
    height: 20px;
}

.header__wrapper .logo .logo__text {
    font-family: 'Inika';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-left: -3px;
    color: #000000;
}

.header__wrapper .navigation ul {
    display: flex;
    gap: 49px;
}

.header__wrapper .navigation ul li {
    list-style-type: none;
}

.header__wrapper .navigation a {
    font-family: 'Inika';
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: var(--link);
}

.header__wrapper .navigation a.active {
    font-weight: 700;
    color: var(--orange);
}

/* Welcome */

section.welcome {
    height: 532px;
    width: 100vw;
    background-color: var(--background);
}

.welcome .welcome__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.welcome .welcome__wrapper .img__background {
    display: flex;
    align-items: center;
    justify-content: start;
    flex: 1;
}

.welcome__wrapper .img__background img {
    width: 458px;
    height: 416px;
    margin-left: -4px;
}

.welcome .welcome__wrapper .welcome__content {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-items: center;
    margin-left: 125px;
    margin-top: 98px;
    width: 550px;
    flex: 1;
} 

.welcome__wrapper .welcome__content h1 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    margin: 0;
    color: var(--gray);
}

.welcome__wrapper .welcome__content h1 .green {
    color: var(--green)
}

.welcome__wrapper .welcome__content p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    padding: 44px 0 48px 0;
    color: var(--text);
}

.welcome__wrapper .welcome__content button {
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 24px;
    border: 2px solid var(--orange);
    border-radius: 10px;
    color: #000000;
    background-color: transparent;
    cursor: pointer;
}

/* About */

section.about {
    height: 666px;
}

.about .about__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.about .about__wrapper .img__background {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.about__wrapper .img__background img {
    width: 464px;
    height: 479px;
}

.about .about__wrapper .about__content {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-items: center;
    margin-top: 162px;
    width: 605px;
    flex: 1;
} 

.about__wrapper .about__content h2 {
    font-family: 'Inika';
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    width: 463px;
    margin: 0;
    color: var(--green);
}

.about__wrapper .about__content h2 .orange {
    color: var(--orange);
}

.about__wrapper .about__content p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding: 38px 0 48px 0;
    color: var(--text);
}

/* Service */

section.service {
    height: 1300px;
    width: 100vw;
    background-color: var(--background);
}

.service .service__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.service__wrapper .service__header {
    display: flex;
    min-height: 100px;
    margin-top: 7px;
}

.service__header h2 {
    display: flex;
    flex: 1;
    font-family: 'Inika';
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: var(--green)
}

.service__header .service__category {
    display: flex;
    flex: 2;
    align-items: center;
    gap: 38px;
    margin: 4px 0 0 61px;
}

.service__category button {
    min-width: 161px;
    padding: 11px 40px;
    font-family: 'Inika';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    border: 1px solid var(--orange);
    border-radius: 5px;
    color: var(--orange);
    background-color: transparent;
    cursor: pointer;
}

.service__wrapper .service__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 53px;
    margin-top: 46px;
}

.service__content .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 330px;
    min-height: 450px;
    border-radius: 20px;
}

.service__content .card .img__card {
    display: flex;
    justify-content: center;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

.card .img__card img {
    width: 330px;
    height: 351px;
    object-fit: cover;
}

.card .descr {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
}

.card .descr span {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    padding: 8px 0 15px 0;
    color: var(--orange);
}

.card .descr p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 36px;
    color: var(--gray);
}

/* Prices */

section.prices {
    height: 560px;
    width: 100vw;
    background-color: #FFFFFF;
}

.prices .prices__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.prices__wrapper .prices__block {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.prices .prices__wrapper h2 {
    margin-top: 39px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}

.prices__block .prices__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 34px 0;
    margin-top: 27px;
    height: auto;
    width: 332px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
}

.prices__content .btn__prices {
    display: flex;
    position: relative;
    align-items: center;
    min-width: 250px;
    height: 50px;
    padding: 16px 40px;
    background: var(--background);
    border-radius: 20px;
    cursor: pointer;
}

.prices__content .btn__prices::after {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 8px);
    right: 40px;
    content: url('img/arrow.svg');
    width: 16px;
    height: 16px;
    border-radius: 50%;
    line-height: 0px;
    background-color: #D9D9D9;
}

.btn__prices span {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}

.prices__wrapper .prices__contact {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 452px;
}

.prices__contact .contact__header h3 {
    text-align: right;
    margin-top: 39px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
}

.contact__header span.green {
    color: var(--green)
}

.contact__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact__content button.btn__orange {
    min-width: 161px;
    padding: 11px 33px;
    font-family: 'Inika';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    border: 1px solid var(--orange);
    border-radius: 5px;
    color: var(--orange);
    background-color: transparent;
    cursor: pointer;
}

.contact__content img {
    margin-top: 33px;
    margin-right: -8px;
}

/* Contact us */

section.contacts {
    height: 550px;
    width: 100vw;
    background-color: var(--background);
}

.contacts .contacts__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contacts__wrapper .farmer {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.contacts__wrapper .contacts__header {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-left: 45px;
}

.contacts__wrapper .contacts__header h2 {
    font-family: 'Inika';
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: var(--green);
}

.contacts__wrapper .contacts__content {
    width: 450px;
}

.contacts__content .address__block {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    min-height: 50px;
    margin-top: 146px;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contacts__content .address__block::after {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 8px);
    right: 35px;
    content: url('img/arrow_white.svg');
    color: #FFFFFF;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    line-height: 0px;
    background-color: #AEA1A1;
}

.contacts__content .address__block span {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    padding-left: 20px;
    color: var(--gray);
}

/* Footer */

footer {
    height: 130px;
    width: 100vw;
    background-color: #FFFFFF;
}

footer .footer__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 4px;
    align-items:center;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}

.footer__wrapper .year {
    display: flex;
    gap: 20px;
}

.footer__wrapper a {
    color: #000000
}

.footer__wrapper .school {
    padding-left: 56px;
}

.footer__wrapper .socials ul {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 28px;
}

.socials li {
    list-style-type: none;
}

.socials li a {
    display: flex;
    align-items: center;
    height: 100%;
}
