:root {
    --orange: #E06733;
    --green: #499A18;
    --background: #EDF2EC;
    --link: #010201;
    --gray: #717171;
    --text: #636060;
}
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

html, body, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    margin: 0 auto;
    padding: 0 109px;
    min-height: 100%;
    max-width: 1440px;
}

/* Header */

header {
    height: 134px;
    width: 100vw;
    background-color: var(--background);
}

header .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__wrapper .logo {
    font-size: 0;
}

.header__wrapper .logo img {
    width: 23px;
    height: 20px;
}

.header__wrapper .logo .logo__text {
    font-family: 'Inika';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}

.header__wrapper .navigation ul {
    display: flex;
    gap: 47px;
    padding: 0 2px;
}

.header__wrapper .navigation ul li {
    list-style-type: none;
}

.header__wrapper .navigation a {
    font-family: 'Inika';
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: var(--link);
    transition: all .2s;
}

.header__wrapper .navigation a.active {
    font-weight: 700;
    color: var(--orange);
}
.navigation a:hover {
    font-weight: 500;
    color: var(--orange);
}

.header__wrapper .hamburger_menu {
    display: none;
}
/* Welcome */

section.welcome {
    min-height: 532px;
    width: 100vw;
    padding-bottom: 56px;
    background-color: var(--background);
}

.welcome .welcome__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.welcome .welcome__wrapper .img__background {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 458px;
    margin-top: 54px;
}

.welcome__wrapper .img__background img {
    width: 100%;
    margin-left: -6px;
}

.welcome .welcome__wrapper .welcome__content {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-items: center;
    margin-left: 10px;
    margin-top: 98px;
    width: 549px;
}

.welcome__wrapper .welcome__content h1 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    margin: 0;
    color: var(--gray);
}

.welcome__wrapper .welcome__content h1 .green {
    color: var(--green)
}

.welcome__wrapper .welcome__content p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    padding: 44px 0 47px 0;
    color: var(--text);
}

.welcome__wrapper .welcome__content .btn {
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 24px;
    border: 2px solid var(--orange);
    border-radius: 10px;
    color: #000000;
    background-color: transparent;
    cursor: pointer;
    transition: all .3s;
}

.welcome__wrapper .welcome__content .btn:hover {
    background-color: var(--orange);
    color: #FFFFFF;

}
/* About */

section.about {
    min-height: 666px;
}

.about .about__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.about .about__wrapper .img__background {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 464px;
    margin-top: 93px;
}

.about__wrapper .img__background img {
    width: 100%
}

.about .about__wrapper .about__content {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-items: center;
    margin-top: 161px;
    width: 50%;
}

.about__wrapper .about__content h2 {
    font-family: 'Inika';
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    width: 463px;
    margin: 0;
    color: var(--green);
}

.about__wrapper .about__content h2 .orange {
    color: var(--orange);
}

.about__wrapper .about__content p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding: 38px 0 48px 0;
    color: var(--text);
}

/* Service */

section.service {
    min-height: 1300px;
    width: 100vw;
    padding-bottom: 90px;
    background-color: var(--background);
}

.service .service__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.service__wrapper .service__header {
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
    margin-top: 7px;
}

.service__header h2 {
    display: flex;
    flex: 1;
    min-width: 290px;
    padding-right: 60px;
    font-family: 'Inika';
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: var(--green)
}

.service__header .service__category {
    display: flex;
    flex: 2;
    align-items: center;
    gap: 5%;
    margin-top: 4px;
}

.service__category button {
    min-width: 161px;
    padding: 11px 40px;
    font-family: 'Inika';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    border: 1px solid var(--orange);
    border-radius: 5px;
    color: var(--orange);
    background-color: transparent;
    cursor: pointer;
    transition: all .3s;
}

.service__category button:hover {
    background-color: var(--orange);
    color: #FFFFFF;
}

.service__wrapper .service__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 116px;
    row-gap: 53px;
    margin-top: 46px;
}

.service__content .card {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    width: 27%;
    min-width: 280px;
    min-height: 450px;
    border-radius: 20px;
    transition: 0.3s;
}

.service__category button.active {
    background-color: var(--orange);
    color: #FFFFFF;
}

.service__category button.disabled {
    background-color: #6e3d28;
    color: #FFFFFF;
    border-color: #6e3d28;
    pointer-events: none;
}

.service__content .card.active {
    filter: blur(3px);
}

.service__content .card .img__card {
    display: flex;
    justify-content: center;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

.card .img__card img {
    width: 100%;
    height: 351px;
    object-fit: cover;
}

.card:first-child .img__card img {
    filter: contrast(0.8);
}

.card .descr {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
    padding: 0 6px;
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
}

.card .descr span {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    padding: 8px 0 15px 0;
    color: var(--orange);
}

.card .descr p {
    padding-bottom: 36px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: var(--gray);
}

/* Prices */

section.prices {
    min-height: 558px;
    width: 100vw;
    background-color: #FFFFFF;
}

.prices .prices__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.prices__wrapper .prices__block {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.prices .prices__wrapper h2 {
    margin-top: 39px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}

.prices__block .prices__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 34px 0;
    margin-top: 27px;
    height: auto;
    width: 332px;
    margin-bottom: 40px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
}

.prices__content .btn__prices {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    width: 250px;
    height: 50px;
    padding: 16px 40px;
    padding-bottom: 2px;
    background: var(--background);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.prices__content .btn__prices:hover {
    background-color: #D6E7D2;
}

.prices__content .btn__prices.active{
    background-color: #D6E7D2;
    height: 154px;
}

.prices__content .btn__prices.active::after {
    background-color: #AEA1A1;
    content: url('img/arrow_white.svg');
    transform: rotate(180deg);
}

.prices__content .btn__prices::after {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 18px;
    right: 40px;
    content: url('img/arrow.svg');
    width: 16px;
    height: 16px;
    border-radius: 50%;
    line-height: 0px;
    background-color: #D9D9D9;
    transition: all .3s;
}

.prices__content .btn__prices:hover::after {
    background-color: #AEA1A1;
    content: url('img/arrow_white.svg');
}

.btn__prices span {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}

.btn__prices .descr__prices {
    opacity: 0;
    height: 10px;
    transition: 0.1s;
    visibility: hidden;
    overflow: hidden;
}

.btn__prices .descr__prices.active{
    display: flex;
    flex-direction: column;
    height: 170px;
    opacity: 1;
    visibility: visible;
}

.descr__prices .text__descr {
    margin-top: 10px;
    padding-top: 6px;
    font-size: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    line-height: 10px;
    color: var(--gray);
    border-top: 1px solid #aea1a1;
}

.descr__prices .price__descr {
    font-size: 12px;
    padding-top: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

.descr__prices .btn__order {
    width: 86px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: var(--gray);
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: 7px;
    transition: 0.6s;
    border: none;
}

.descr__prices .btn__order:hover {
    color: #FFFFFF;
    background: #9cb29b;
}


.descr__prices .orange {
    color: var(--orange);
    font-weight: 700;
    font-size: 16px;
}

.descr__prices .small {
    font-size: 12px;
    color: var(--orange);
    font-weight: 700;
}


.prices__wrapper .prices__contact {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 470px;
}

.prices__contact .contact__header h3 {
    text-align: right;
    margin-top: 39px;
    padding-left: 10px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
}

.contact__header span.green {
    color: var(--green)
}

.contact__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact__content button.btn__orange {
    min-width: 161px;
    padding: 11px 33px;
    font-family: 'Inika';
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    border: 1px solid var(--orange);
    border-radius: 5px;
    color: var(--orange);
    background-color: transparent;
    cursor: pointer;
    transition: all .3s;
}

.contact__content button.btn__orange:hover {
    color: #FFFFFF;
    background-color: var(--orange);
}

.contact__content img {
    margin-top: 33px;
    margin-right: -8px;
}

/* Contact us */

section.contacts {
    min-height: 550px;
    width: 100vw;
    background-color: var(--background);
    height: 1px;
}

.contacts .contacts__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contacts__wrapper .farmer {
    display: flex;
    align-items: flex-end;
    flex: 1;
}

.contacts__wrapper .farmer img {
    width: 98%;
    min-width: 234px;
}

.contacts__wrapper__content {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.contacts__wrapper__content .contacts__header {
    display: flex;
    justify-content: flex-start;
    min-width: 200px;
    margin-top: 27px;
    margin-left: 106px;
}

.contacts__wrapper__content .contacts__header h2 {
    font-family: 'Inika';
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: var(--green);
}

.contacts__wrapper__content .contacts__content {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.contacts__content .address__block {
    position: relative;
    width: 55%;
    min-width: 284px;
}

.contacts__content .address__block .selected{
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    min-height: 50px;
    margin-top: 2px;
    background: #D6E7D2;
    border: 1px solid #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    padding-left: 17px;
    color: var(--gray);
    cursor: pointer;
    transition: 0.3s;
    z-index: 2;
}

.contacts__content .address__block .selected.active,
.contacts__content .address__block .selected.activeAlways,
.contacts__content .address__block .selected:hover {
    background: #C1E698;
    border: 1px solid #D6E7D2;
    box-shadow: none;
}

.contacts__content .address__block .selected::after {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 16px;
    right: 34px;
    content: url('img/arrow_white.svg');
    color: #FFFFFF;
    width: 16px;
    height: 14px;
    padding-bottom: 2px;
    border-radius: 50%;
    line-height: 0px;
    background-color: #AEA1A1;
    pointer-events: none;
    transition: 0.3s;
}

.contacts__content .address__block .selected.active::after {
    transform: rotate(180deg);
    background: #8BA07E;
}

.contacts__content .address__block span {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: var(--gray);
}

.address__block .options {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 234px;
    margin-top: -10px;
    gap: 4px;
    padding: 20px 17px;
    color: #499A18;
    background: #DCE9D9;
    transition: 0.4s;
    visibility: hidden;
    opacity: 0;
}

.address__block .options.active {
    min-height: 50px;
    visibility: visible;
    opacity: 1;
    margin-top: 0px;
    z-index: 1;
}

.options .option {
    width: 92%;
    margin-left: 17px;
    padding-left: 6px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 0.05em;
    border-bottom: solid 1px #D9D9D9;
    cursor: pointer;
    list-style-type: none;
    visibility: hidden;
    opacity: 0;
}

.options.active .option {
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
    padding-top: 13px;
}

.options.active .option:hover {
    color: var(--gray);
    border-bottom: solid 1px var(--gray);
}

.address__block .city__card {
    display: flex;
    align-items: center;
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 47px;
    padding: 17px 33px 32px 33px;
    background: transparent;
    border: solid 1px #000;
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.address__block .city__card.active {
    opacity: 1;
    visibility: visible;
}


.address__block .city__card .descr {
    display: flex;
    align-items: flex-start;
    width: 100%;
}
.descr .labels {
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
}
.descr .labels span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #000000;
}
.descr .fields {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 4px;
}
.descr .data {
    display: inline;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: var(--gray)
}

.address__block .call_href {
    margin-top: 18px;
}
.address__block .call_us {
    color: var(--gray);
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    padding: 5px 45px;
    border: solid 1px var(--orange);
    border-radius: 5px;
    transition: 0.3s;
}

.address__block .call_us:hover {
    background: var(--orange);
    color: #FFFFFF;
}

/* Footer */

footer {
    height: 130px;
    width: 100vw;
    background-color: #FFFFFF;
}

footer .footer__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items:center;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}

.footer__wrapper .year {
    display: flex;
    gap: 6.7%;
    flex: 1;
}

.footer__wrapper a {
    color: #000000;
    transition: all .2s;
}

.footer__wrapper a:hover {
    color: var(--green)
}

.footer__wrapper .school {
    display: flex;
    justify-content: center;
    flex: 2;
}

.footer__wrapper .socials {
    flex: 1;
}

.footer__wrapper .socials ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 6.5%;
    padding: 0;
}

.socials li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 32px;
    height: 32px;
}

.socials li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.socials li a:hover {
    transform: scale(0.9);
}

/*  */
/* Adaptive options */
/*  */

@media screen and (max-width: 768px){
    .container {
        padding: 0 50px;
        max-width: 768px;
    }

    /* Header adaptive 768 */

    header {
        height: 117px;
    }

    header .header__wrapper {
        margin-top: 4px;
    }

    .header__wrapper .logo img {
        width: 20px;
    }

    /* Welcome adaptive 768 */

    section.welcome {
        min-height: 420px;
    }

    .welcome .welcome__wrapper {
        flex-direction: row-reverse;
    }

    .welcome .welcome__wrapper .welcome__content {
        margin-left: 0;
        margin-top: 40px;
        width: 340px;
    }

    .welcome__wrapper .welcome__content h1 {
        font-size: 35px;
        line-height: 50px;
    }

    .welcome .welcome__wrapper .img__background {
        align-items: flex-start;
        justify-content: flex-end;
        flex: none;
        width: 280px;
        margin-top: 40px;
    }

    .welcome__wrapper .img__background img {
        width: 100%;
    }

    .welcome__wrapper .welcome__content p {
        padding: 31px 0 35px 5px;
        font-size: 16px;
        line-height: 25px;
    }

    /* About adaptive 768 */

    section.about {
        min-height: 783px;
        padding-bottom: 30px;
    }

    .about .about__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .about .about__wrapper .about__content {
        align-items: center;
        width: 100%;
        margin-top: 40px;
    }

    .about__wrapper .about__content h2 {
        text-align: center;
        font-size: 35px;
        line-height: 46px;
    }

    .about__wrapper .about__content p {
        padding: 50px 0 48px 0;
    }

    .about .about__wrapper .img__background {
        width: 250px;
        margin-top: 0;
    }

    /* Service adaptive 768 */

    section.service {
        min-height: 1780px;
        padding-bottom: 50px;
    }

    .service__wrapper .service__header {
        flex-direction: column;
        margin-top: 31px;
    }

    .service__header h2 {
        max-width: 306px;
        font-size: 35px;
        line-height: 46px;
        padding-right: 0;
    }

    .service__header .service__category {
        display: flex;
        flex-wrap: wrap;
        column-gap: 38px;
        row-gap: 10px;
        margin-top: 13px;
    }

    .service__wrapper .service__content {
        column-gap: 108px;
        row-gap: 39px;
        margin-top: 40px;
    }

    .service__content .card {
        min-width: 190px;
        min-height: auto;
    }

    .card .img__card img {
        height: 45.5vw;
    }

    .card .descr p {
        padding-bottom: 14px;
    }

    /* Prices adaptive 768 */

    section.prices {
        min-height: 585px;
        padding-bottom: 20px;
    }

    .prices .prices__wrapper h2 {
        font-size: 35px;
        line-height: 44px;
        padding-left: 15px;
    }

    .prices__contact .contact__header h3 {
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 29px;
    }

    .prices__wrapper .prices__contact {
        margin-top: 100px;
    }

    .contact__content img {
        margin-top: 29px;
    }

    /* Contact us adaptive 768*/

    section.contacts {
        min-height: 739px;
    }

    .contacts .contacts__wrapper {
        flex-direction: column-reverse;
    }

    .contacts__wrapper__content .contacts__header {
        justify-content: center;
        margin-left: 0;
        margin-top: 7px;
    }

    .contacts__wrapper__content .contacts__content {
        justify-content: center;
    }

    .contacts__content .address__block {
        width: 70%;
        max-width: 450px;
        margin-top: 66px;
        transition: 0.3s;
    }

    .contacts__content .address__block.activeAlways {
        width: 70%;
        max-width: 450px;
        margin-top: 24px;
    }

    .address__block .city__card.active {
        margin-top: 61px;
    }

    .contacts__wrapper .farmer {
        justify-content: center;
        /* margin-top: 245px; */
    }

    .contacts__wrapper .farmer img {
        min-width: auto;
        width: auto;
        height: 250px;
        margin-left: 20px;
    }

    .address__block .city__card.active {
        position: relative;
    }

    .city__card .call_href {
        margin-top: 18px;
    }
    /* Footer adaptive 768 */

    footer {
        min-height: 181px;
        height: 1px;
    }

    footer .footer__wrapper {
        flex-direction: column;
        margin-top: 25px;
        line-height: 39px;
    }

    .footer__wrapper .year {
        justify-content: center;
        gap: 18%;
    }

    .footer__wrapper .socials ul {
        justify-content: center;
        gap: 21%;
        padding-bottom: 6px;
    }

}

@media screen and (max-width: 640px){

    /* Header adaptive 640 */

    body.inactive {
        overflow: hidden;
    }

    .container::after {
        position: absolute;
        width: 100vw;
        height: calc(100vh + 200px);
        left: 0;
        top: 0;
        content: '';
        background-color: rgba(255, 255, 255, 0.0);
        transition: .3s;
        z-index: 1;
        visibility: hidden;
    }

    .container.inactive::after {
        position: absolute;
        width: 100vw;
        height: calc(100vh + 200px);
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.55);
        content: '';
        z-index: 1;
        transition: 0.6s;
        visibility: visible;
    }

    header::before {
        content: '';
        transition: 0.6s;
        opacity: 0;
        transform: translate(140%, 0px);
    }

    header.inactive::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 60%;
        height: 113px;
        background-color: rgb(255, 255, 255);
        z-index: 3;
        content: '';
        transition: 0.6s;
        opacity: 1;
        transform: translate(0px, 0px);
    }

    .header__wrapper .navigation {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
        height: calc(100vh + 200px);
        background-color: #FFFFFF;
        overflow: auto;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transform: translate(140%, 0px);
        transition: 0.3s;
    }

    .header__wrapper .navigation.hamburger {
        transform: translate(0px, 0px);
        transition: 0.3s;
        opacity: 1;
        visibility: visible;
        width: 60%;
        padding-bottom: 200px;
    }

    .header__wrapper .navigation ul {
        flex-direction: column;
        gap: 26px;
        margin-top: 113px;
        padding: 0;
    }

    .header__wrapper .navigation li {
        width: calc(100% - 28px);
        margin-left: 28px;
        border-radius: 10px 0 0 10px;
        background: var(--background);
        transition: 0.3s;
    }

    .header__wrapper .navigation li a {
        display: block;
        padding-left: 40px;
    }

    .header__wrapper .navigation li:hover {
        margin-left: 18px;
        width: calc(100% - 18px);
    }

    .header__wrapper .hamburger_menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 6px;
        width: 32px;
        height: 26px;
        margin-top: -6px;
        padding: 8px;
        z-index: 4;
        cursor: pointer;
        box-sizing: content-box;
    }

    .hamburger_menu .line {
        flex: 1;
        width: 40px;
        height: 2px;
        background-color: var(--gray);
        transition: 0.3s;
   }

    .hamburger_menu.active .line {
        width: 40px;
        position: absolute;
        transition: 0.3s;
    }

    .hamburger_menu.active .line:first-child {
        opacity: 0;
    }
    .hamburger_menu.active .line:nth-child(2) {
        transform: rotate(45deg);
        opacity: 1;
    }
    .hamburger_menu.active .line:nth-child(3) {
        transform: rotate(-45deg);
        opacity: 1;
    }
    .hamburger_menu.active .line:last-child {
        opacity: 0;
    }

    /* Welcome adaptive 640 */

    .welcome .welcome__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .welcome .welcome__wrapper .welcome__content {
        width: 100%;
    }

    .welcome .welcome__wrapper .img__background {
        width: 140px;
        margin-top: 0;
    }

    /* About adaptive 640 */

    .about .about__wrapper {
        gap: 0;
    }

    .about__wrapper .about__content h2 {
        width: auto;
    }

    /* Prices adaptive 640 */

    .prices .prices__wrapper h2 {
        text-align: center;
    }

    .prices .prices__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .prices__wrapper .prices__contact {
        align-items: center;
        margin-top: 0;
        width: auto;
    }

    .prices__contact .contact__header h3 {
        text-align: center;
    }
}

@media screen and (max-width: 380px){
    .container {
        padding: 0 25px;
        max-width: 380px;
    }

    /* Header adaptive 380 */

    header {
        height: 96px;
    }

    header .header__wrapper {
        margin-top: 4px;
    }

    .header__wrapper .logo img {
        width: 20px;
    }

    .header__wrapper .navigation.hamburger {
        width: 70%;
    }

    /* Welcome adaptive 380 */

    section.welcome {
        min-height: 300px;
        padding-bottom: 20px;
    }

    .welcome .welcome__wrapper .welcome__content {
        margin-left: 0;
        margin-top: 26px;
        width: 100%;
    }

    .welcome__wrapper .welcome__content h1 {
        font-size: 25px;
        line-height: 35px;
    }

    .welcome .welcome__wrapper .img__background {
        display: none;
    }

    .welcome__wrapper .welcome__content p {
        line-height: 25px;
        padding: 20px 0 26px 0px;
    }

    .welcome__wrapper .welcome__content button {
        padding: 5px 15px;
        font-size: 10px;
    }

    /* About adaptive 380 */

    section.about {
        min-height: 516px;
        padding-bottom: 20px;
    }

    .about .about__wrapper .about__content {
        margin-top: 30px;
    }

    .about__wrapper .about__content h2 {
        font-size: 25px;
        line-height: 33px;
    }

    .about__wrapper .about__content p {
        font-size: 15px;
        line-height: 25px;
        padding: 13px 0 0 0;
    }

    .about .about__wrapper .img__background {
        width: 150px;
    }

    /* Service adaptive 380 */

    section.service {
        min-height: auto;
        padding-bottom: 26px;
    }

    .service__wrapper .service__header {
        margin-top: 8px;
    }

    .service__header h2 {
        min-width: auto;
        max-width: 200px;
        font-size: 25px;
        line-height: 33px;
    }

    .service__header .service__category {
        column-gap: 11px;
        row-gap: 8px;
        margin-top: 18px;
    }

    .service__category button {
        min-width: 120px;
        padding: 4px 31px;
        font-size: 15px;
    }

    .service__wrapper .service__content {
        row-gap: 34px;
    }

    .service__content .card {
        max-width: 280px;
    }

    .card .img__card img {
        height: 350px;
    }

    /* Prices adaptive 380 */

    section.prices {
        min-height: 512px;
    }

    .prices .prices__wrapper h2 {
        margin-top: 25px;
        padding-left: 2px;
        font-size: 25px;
        line-height: 30px;
    }

    .prices__block .prices__content {
        width: 224px;
        margin-top: 16px;
        margin-bottom: 0px;
        padding: 28px 0;
        gap: 14px;
    }

    .prices__content .btn__prices {
        min-width: 180px;
        width: 180px;
        padding: 16px 31px;
    }

    .prices__content .btn__prices.active {
        background-color: #D6E7D2;
        height: 170px;
    }

    .btn__prices span {
        font-size: 15px;
        line-height: 20px;
    }

    .prices__contact .contact__header h3 {
        font-size: 20px;
        line-height: 35px;
        padding-left: 2px;
        margin: 19px 0 21px 0;
    }

    .prices__wrapper .prices__contact {
        width: 240px;
    }

    .contact__content {
        align-items: center;
    }

    .contact__content button.btn__orange {
        min-width: 120px;
        padding: 6px 24px;
        font-size: 15px;
        line-height: 20px;
    }

    .contact__content img {
        display: none;
    }

    /* Contact us adaptive 380 */

    section.contacts {
        min-height: 445px;
    }

    .contacts__wrapper__content .contacts__header {
        margin-top: 5px;
    }

    .contacts__wrapper__content .contacts__header h2 {
        font-size: 25px;
        line-height: 33px;
    }

    .contacts__content .address__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 58px;
        width: 100%;
    }
    .contacts__content .address__block .select {
        width: 91.5%;
    }
    .contacts__content .address__block .selected {
        margin-top: 0;
    }
    .contacts__content .address__block .selected::after {
        right: 18px;
    }

    .contacts__content .address__block .selected.activeAlways,
    .contacts__content .address__block .selected:hover {
        padding-left: 21px;
    }
    .contacts__content .address__block::after {
        right: 23px;
    }

    .contacts__content .address__block.activeAlways {
        width: 100%;
    }

    .address__block .city__card {
        transform: translateY(10px);
        transition: transform 0.3s;
    }

    .address__block .city__card.active {
        position: relative;
        width: 85.5%;
        margin-top: 47px;
        padding: 33px 22px 22px 38px;
        transform: translateY(0px);
    }

    .address__block .options {
        width: 91.5%;
    }

    .descr .labels {
        flex: 1;
        gap: 16px;
    }

    .descr .labels span,
    .descr .data {
        line-height: 20px;
    }

    .descr .fields {
        gap: 17px;
    }

    .address__block .call_us {
        margin-top: 15px;
    }
    .contacts__wrapper .farmer {
        margin-top: 132px;
        z-index: 1;
        transition: opacity 0.3s;
    }
    .contacts__wrapper .farmer img {
        height: 125px;
        margin-right: 4px;
        margin-left: 0;
    }

    .contacts__wrapper .farmer.inactive {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        z-index: -2;
    }

    /* Footer adaptive 380 */

    footer {
        min-height: 146px;
        height: 1px;
    }

    footer .footer__wrapper {
        margin-top: 15px;
    }

    .footer__wrapper .school {
        flex: 1;
    }

    .footer__wrapper .socials ul {
        margin: 0 0 15px 0;
        padding: 0;
    }
}